/* Tabs*/
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#tabs{
	background: #007b5e;
    color: #eee;
}
#tabs h6.section-title{
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #eee;
    font-size: 20px;
}



/* my code */


#create-kpi-container{
    margin-bottom: 25px;
    margin-top: 40px;
}

.middle-row {
    background: red;
    height: 10px;
}

.data-container-row{
    box-shadow: 2px 12px 8px -8px rgba(0,0,0,.25);
}

table > thead{
    background: #5F71E4;
    height: 58px;
    border-radius: 3px;

}

.table thead tr th {
    color: white;
    vertical-align: middle;
    font-weight: bold;
}

.table th, .table td{
    text-align: center;
}

.table th:nth-last-child(1),.table td:nth-last-child(1){
    text-align: end;
}